
@{
    ViewBag.Title = "Gallery";

}

<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/Gallery/all.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
   @* <script type="text/javascript" src="/Scripts/jquery-1.9.1.js"></script>
   *@ <script type="text/javascript" src="/js/Gallery/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/Gallery/js/jquery.quicksand.js"></script>
    <script type="text/javascript" src="/js/Gallery/js/main.js"></script>

</head>
<script>
    $(document).ready(function ()
    {
        $('#login').click(function (e) {
            e.stopPropagation();
            window.location.href = "@Url.Action("Login","Account")";
            });

        $('#User').click(function (e) {
            e.stopPropagation();
            window.location.href = "@Url.Action("CurrentUser","Home")";
            });

        $('#logoff').click(function (e) {
            e.stopPropagation();
            window.location.href = "@Url.Action("LogOff","Account")";

            });

        $('#Home').click(function (e) {
            e.stopPropagation();
            window.location.href = "@Url.Action("Index","Home")";
            });

    });
    </script>
y
<div class="page-region-content" id="content">
        <div id="container"> 
            <ul id="filterOptions">
                <li class="active"><a href="#" class="all">Gallery</a></li>
                <li><a href="#" class="Bhajras">Bhajras</a></li>
                <li><a href="#" class="Ceramic">Ceramic Avatars</a></li>
                <li><a href="#" class="Factory">Factory</a></li>
                <li><a href="#" class="Board">Board</a></li>
            </ul>

            <ul class="ourHolder">
        
        <!-- Begin Image 1 -->
       @* <li data-id="id-1" class="Item"> <a href="~/Gallery/Bhajras/1.jpg" rel="prettyPhoto[gallery]"> <img src="~/Gallery/Bhajras/1.jpg" alt="" /></a> </li>
       *@ <!-- End Image 1 -->
        
                <li class="item" data-id="id-1" data-type="Factory"> <a href="~/Gallery/Work/1.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/1.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-2" data-type="Factory"> <a href="~/Gallery/Work/2.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/2.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-3" data-type="Factory"> <a href="~/Gallery/Work/3.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/3.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-7" data-type="Factory"> <a href="~/Gallery/Work/4.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/4.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-8" data-type="Factory"> <a href="~/Gallery/Work/5.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/5.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-11" data-type="Factory"> <a href="~/Gallery/Work/6.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/6.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-14" data-type="Factory"> <a href="~/Gallery/Work/7.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/7.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-15" data-type="Factory"> <a href="~/Gallery/Work/8.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/8.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-16" data-type="Factory"> <a href="~/Gallery/Work/9.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/9.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-18" data-type="Factory"> <a href="~/Gallery/Work/10.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Work/10.jpg" alt="navasthala" /></a> </li>
                
                <li class="item" data-id="id-4" data-type="Bhajras"> <a href="~/Gallery/Bhajras/1.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Bhajras/1.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-5" data-type="Bhajras"> <a href="~/Gallery/Bhajras/2.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Bhajras/2.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-15" data-type="Bhajras"> <a href="~/Gallery/Bhajras/3.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Bhajras/3.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-16" data-type="Bhajras"> <a href="~/Gallery/Bhajras/4.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Bhajras/4.jpg" alt="navasthala" /></a> </li>
                
                <li class="item" data-id="id-6" data-type="Ceramic"> <a href="~/Gallery/Ceramic/1.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Ceramic/1.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-10" data-type="Ceramic"> <a href="~/Gallery/Ceramic/2.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Ceramic/1.jpg" alt="navasthala" /></a> </li>
                <li class="item" data-id="id-17" data-type="Ceramic"> <a href="~/Gallery/Ceramic/3.bmp" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Ceramic/3.bmp" alt="navasthala" /></a> </li>
               
                
                 <li class="item" data-id="id-12" data-type="Board"> <a href="~/Gallery/Board/1.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Board/1.jpg" alt="navasthala" /></a> </li>
                 <li class="item" data-id="id-13" data-type="Board"> <a href="~/Gallery/Board/2.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/Gallery/Board/2.jpg" alt="navasthala" /></a> </li>
                
            </ul>
        </div>

</div>
