@model Navasthala.ViewModel.UserDetailsViewModel
<head>
    <title>User details</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#Address').mouseup(function (e)
        {
            e.stopPropagation();
            $('.page-region-content').hide("fade", 500, function () {

                window.location.href = "@Url.Action("Address","User")";
                });
        });
        
        $('#personal').mouseup(function (e) {
            e.stopPropagation();
            $('.page-region-content').hide("fade", 500, function () {

                window.location.href = "@Url.Action("PersonalDetails","User")";
            });
        });

        $('#Phone').mouseup(function (e) {
            e.stopPropagation();
            $('.page-region-content').hide("fade", 500, function () {

                window.location.href = "@Url.Action("PhoneDetails","User")";
            });
                });
    });
</script>

<div class="page-region-content tiles">
 
    <div class="tile-group" >
        <div class="tile double double-vertical bg-color-blue" id="personal" data-role="tile-slider" data-param-period="3000" data-param-direction="down">
            <div class="tile-content">
                <h5 class="text">Last Name: @Model.LastName</h5>
                <br>
                <h5 class="text">First Name: @Model.FirstName</h5>
                <br>
                <h5 class="text">Email: @Model.Email</h5>
                <br>
                @{
                    var dob= Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToShortDateString() : string.Empty;
                    <h5 class="text">Date of birth: @dob</h5>                                                  
                }
                <br>
                <h5 class="text">Role: @Model.Role</h5>


               
            </div>
            <div class="tile-content">
                <h2 class="text-center center">Edit your details by clicking this tile</h2>
            </div>
            <div class="brand">
                <div class="name fg-color-darken" style="padding-top: 15px;">Personal Details</div>
            </div>
        </div>
    </div>

    <div class="tile-group" >        
        <div class="tile double double-vertical bg-color-green" id="Address" data-role="tile-slider" data-param-period="4000" data-param-direction="left">
            @{
                foreach (var addr in @Model.Addresses)
                {
                    <div class="tile-content">
                        <h5 class="text">Type: @addr.AddressType</h5>
                        <h5 class="text">Address line one : @addr.AddressLineOne</h5>
                        <h5 class="text">Address line two : @addr.AddressLineTwo</h5>
                        <h5 class="text">Suburb : @addr.Suburb</h5>
                        <h5 class="text">State : @addr.State</h5>
                        <h5 class="text">City : @addr.City</h5>
                        <h5 class="text">Country : @addr.Country</h5>
                    </div>
                }
            }
            
                    <div class="tile-content">
                        <h5 class="text">Click here to update your address.</h5>
                    </div>
                        

                        <div class="brand">
                            <div class="name fg-color-darken">Address</div>
                        </div>
                    </div>
    </div>

    <div class="tile-group" >
        <div class="tile double double-vertical" data-role="tile-slider" data-param-period="5000" data-param-direction="down" id="Phone">
                                                <div class="tile-content">
            @{

                foreach (var phone in @Model.Phones)
                {

                    <h5 class="text">Number : @phone.PhoneNumber</h5>
                    <h5 class="text">Type: @phone.PhoneType</h5>
                     <br>
                    
                                        }
                                        
             }
            </div>
                        <div class="tile-content">
                            <h5 class="text">Click here to update your phone details.</h5>
                        </div>
                        <div class="brand">
                            <div class="name fg-color-darken">Phone</div>
                        </div>
                    </div>
    </div>
          
       </div> 
       