@model DataLayer.Models.RegisterModel
@{
    ViewBag.Title = "Ok, lets get you started";
}

<div class="page-region-content fg-color-white">
    
    <h3 class="fg-color-white icon-thumbs-up"> @ViewBag.Title.</h3>
    <br>
    <section id="login-form">
    @using (Html.BeginForm()) 
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)

    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
           
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
            
    <input type="submit" id="submit-button" value="Register" />
    
}
        </section>
</div>
