@model DataLayer.Models.PaswordResetModel

<div class="page-region-content fg-color-white">
    <section id="login-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.LabelFor(p=>p.NewPassword)
            @Html.PasswordFor(p=>p.NewPassword)
            @Html.ValidationMessageFor(p=>p.NewPassword)

            @Html.LabelFor(p=>p.ConfirmNewPassword)
            @Html.PasswordFor(p=>p.ConfirmNewPassword)
            @Html.ValidationMessageFor(p=>p.ConfirmNewPassword)


           <input type="submit" id="submit-button" value="Reset Password" />
        }
    </section>
</div>