<!DOCTYPE html>

<html>
    <head>
        <title>Navasthala Innovations</title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="description" content="My Tours">
        <meta name="author" content="RajeevKanth Mohandas">
        <meta name="keywords" content="Navasthala, Bangalore, Innovations, Solar, Green">
        <link href="/css/modern.css" rel="stylesheet">
        <link href="/css/theme-dark.css" rel="stylesheet">
        <link href="/css/modern-responsive.css" rel="stylesheet">
         <link href="/Content/Style/style.css" rel="stylesheet">
    </head>
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            $('#login').mousedown(function (e) {
                e.stopPropagation();
                $('.page-region').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("Login","Account")";
                });
            });
            
            $('#User').mousedown(function (e) {
                e.stopPropagation();
                $('.page-region').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("User","Home")";
                });
            });
            
            $('#logoff').mousedown(function (e) {
                e.stopPropagation();
                $('.page-region').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("LogOff","Account")";
                 });
            });

            $('#Home').mousedown(function ()
            {
                $('.page-region').hide("fade", 500, function () {
                    
                    window.location.href = "@Url.Action("Index","Home")";
             });
            });
            
        });
    </script>
    
    <body>
        <div class="metrouicss">
        <div class="page secondary fixed-header">
            <div class="page-header">
                <div class="page-header-content metro-ui-logo">
                    <div id="Home">
                        <img src="/images/Logo.png" alt="" style="padding-left: 125px;padding-top: 20px;cursor:pointer;">
                        <p class="featured fg-color-white icon-lightning">Light years ahead</p>
                                                 <div class="user-login fg-color-white">
                    
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <div class="name" id="User">
                                <span class="first-name">@User.Identity.Name</span>
                            </div>
                            <div class="avatar">
                                <i class="icon-user fg-color-white"></i>
                            </div>
                            <br />
                            <br />
                            <div class="link-text" id="logoff">
                                <span class="name">logoff</span>
                            </div>
                        }
                        else
                        {
                            <div id="login">
                                <span class="name">login</span>
                            </div>
                        }

                    }
                        
                </div>
                    </div>

                </div>

            </div>
            
            <div class="page-region">
                    @RenderSection("scripts", required: false) 
                    @RenderBody()
                </div>
        </div>    
            </div>
        
            
    </body>
</html>
