@{
    ViewBag.Title = "Navasthala Innovations";
}
<head>
    <title>Index Page</title>
<script src="/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>
<script type="text/javascript">
    $(function () {
        $('#About').mouseup(function (e) {

             $('#content').hide("fade",500, function ()
                {
                    
                    window.location.href = "@Url.Action("About","Home")";
                });



        });

            $('#Contact').mouseup(function () {

                $('#content').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("Contact","Home")";
             });

            });
            
            $('#Investor').mouseup(function () {

                $('#content').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("Index","Investor")";
             });

            });
            
        $('#Gallery').mouseup(function () {

            $('#content').hide("fade", 500, function () {

                window.location.href = "@Url.Action("Gallery","Gallery")";
                });

        });
        
        $('#Products').mouseup(function () {

            $('#content').hide("fade", 500, function () {

                window.location.href = "@Url.Action("Bhajras","Product")";
            });

                });

        $('#LoggedInUser').mouseup(function () {
            $('#content').hide("fade", 500, function () {

                window.location.href = "@Url.Action("CurrentUser","Home")";
            });

                });
           
        });
        
    </script>
    </head>

<div class="page-region-content tiles" id="content">
    
    <div class="tile-group tile-drag">

                        <div class="tile double bg-color-white" id="About">
                        <div class="tile-content">
                            <img src="/images/about-us.jpg" alt="" style="width: 200px;height: 150px; padding-bottom: 25px;">
                        </div>

                    </div>
                    <div class="tile double" id="Contact">
                        <div class="tile-content bg-color-green">
                            <h5>Contact us</h5>
                            <br>
                            <br>
                            <p>
                     <span class="icon-mobile"> Mobile:</span> +91-9880701026<br>
                     <span class="icon-support"> Sales:</span> +91-9632740055</p> 
                        </div>
                        <div class="brand">
                            <div class="badge"></div>
                           <span class="name ui-icon-mail-closed"> contact@navasthala.com</span>
                        </div>
                    </div>



                    <div class="tile double image-slider" id="Gallery" data-role="tile-slider" data-param-period="5000" data-param-direction="down">
                        <div class="tile-content">
                            <img src="/Gallery/Bhajras/1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Bhajras/2.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Work/3.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Work/4.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Bhajras/3.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Work/6.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Bhajras/4.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Ceramic/1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Work/1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/Gallery/Work/10.jpg" alt="">
                        </div>
                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">Gallery</span>
                        </div>
                    </div>
                    



                </div>
                
    <div class="tile-group tile-drag">
                    
        <div class="tile double  bg-color-yellow" id="Investor">
            <div class="tile-content fg-color-blueDark">
                <h2>Investors Dashboard</h2>
                <h5>Together, we grow</h5>
                <p>
                    click for more details.                        
                </p>
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Manage your Investment</span>
            </div>
        </div>

        <div class="tile double  bg-color-orangeDark" id="Products">
            <div class="tile-content fg-color-blueDark">
                <h2>Products</h2>
                <h5>Innovation at it's best</h5>
                <p>
                    View all our products.                        
                </p>
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Products</span>
            </div>
        </div>         
                    
        <div class="tile double bg-color-blue">
            <div class="tile-content fg-color-blueDark">
                <h2>Roadmap</h2>
                <h5>Upcoming projects</h5>
                <p>
                    Where do we go from here.                        
                </p>
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Drawing room.</span>
            </div>
        </div>                    
           

    </div>
    
    <div class="tile-group tile-drag">
        
        <div class="tile double bg-color-greenLight" data-role="tile-slider" data-param-period="6000" data-param-direction="right">
            <div class="tile-content">
                <h2> </h2>
                <h5 class="text-center center"> You want to destroy definitions?</h5>
               
            </div>

            <div class="tile-content">
                <h2> </h2>
                <h5 class="text-center"> Do you have that idea?</h5>
            </div>

            <div class="tile-content">
                <h2> </h2>
                <h5 class="text-center">Then Navasathala could be the place.</h5>
            </div>



            <div class="brand">
                <div class="badge"></div>
                <span class="name">Careers</span>
            </div>
        </div>
        
        @{
            if (User.Identity.IsAuthenticated)
            {
            <div class="tile double  bg-color-grayDark" id="LoggedInUser">
            <div class="tile-content fg-color-blueDark">
                <h5 >Welcome back @User.Identity.Name</h5>
                <p>
                    Access your personal dashboard from here.                        
                </p>
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Dashboard</span>
            </div>
        </div>       
            }
        }
        

    </div>
                


</div>
            

