


<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvestorDetailsView</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="/Jqgrid/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="/Jqgrid/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <script src="/Jqgrid/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Jqgrid/Scripts/grid.locale-en.js" type="text/javascript"></script>
    <script src="/Jqgrid/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="/Jqgrid/Scripts/jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>

</head>
 
  
    <script type="text/javascript">
        $(document).ready(function ()
        {
            var updateDialog =
            {
                url: "@Url.Action("UpdateInvestment","Admin")"
                , closeAfterAdd: true
                , closeAfterEdit: true
                , afterShowForm: function (formId) {
                    //$("#PhoneNumber").mask("(999) 999-9999");
                    //$("#DateOfInvestment").datepicker();
                }
                , afterclickPgButtons: function (whichbutton, formid, rowid) {
                    // $("#PhoneNumber").mask("(999) 999-9999");
                }
                , modal: true
                
                , onclickSubmit: function (params) {
                    var ajaxData = {};

                    var list = $("#list");
                    var selectedRow = list.getGridParam("selrow");
                    rowData = list.getRowData(selectedRow);
                    ajaxData = { InvestmentId: rowData.InvestmentId };

                    return ajaxData;
                }
                
                , width: "400"
            };
            $.jgrid.nav.edittext = "Edit";
            $.jgrid.nav.deltext = "Delete";
            $.jgrid.edit.editCaption = "Edit Investor";
            $.jgrid.del.caption = "Delete Investor";
            $.jgrid.del.msg = "Delete selected Investor?";
            
            $('.AddInvestment').hide();

            $('#Add').click(function ()
            {
                $.ajax({
                            type: "POST", //GET or POST or PUT or DELETE verb
                            url: "/Admin/GetInvestors", // Location of the service
                            contentType: "application/json; charset=utf-8", // content type sent to server
                            dataType: "json", //Expected data format from server
                            processdata: true, //True or False
                            success: function (response)
                            {
                                $('.AddInvestment').show();
                                var result = $.map(response, function (key, val) {
                                    return "<option value='" + val + "'>" + key.UserName + "</option>";
                                }).join('');
                                $('#myselect').append(result);
                            },
                            error: function (request, error)
                            {

                            }
                        });
            });
            

            
            $('#submit-button').click(function () {
                $('.AddInvestment').hide();
                var data =
                {
                    InvestorName: $("#myselect option:selected").text(),
                    DateOfInvestment: $('#DateOfInvestment').val(),
                    InvestedAmount: $('#InvestedAmount').val(),
                    Maturity: $('#Maturity').val(),
                    FinalAmount: $('#FinalAmount').val(),
                    Rate: $('#Rate').val()
                };
                
                $.ajax({
                    type: "POST",
                    url: "/Admin/AddInvestment",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8", // content type sent to server
                    dataType: "json", //Expected data format from server
                    processdata: true, //True or False
                    success: function (response) {
                        
                        location.reload();
                        $('.AddInvestment').hide();
                    }
                });
            });
            

            $("#list").jqGrid({
                url: "@Url.Action("GetInvestments","Admin")",
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Invested by', 'E-mail', 'DateOfInvestment', 'InvestedAmount', 'Maturity', 'FinalAmount','Rate', 'Id'],
                colModel: [
                    { name: 'UserName', index: 'UserName', width: 100, align: 'left', editable: true, edittype: 'text', editrules: { required: false }, formoptions: { elmsuffix: ' *'} },
                    { name: 'Email', index: 'Email', width: 100, align: 'left', formatter: 'mail', editable: true, edittype: 'text', editrules: { required: false, email: true }, formoptions: { elmsuffix: ' *'} },
                    { name: 'DateOfInvestment', index: 'DateOfInvestment', width: 75, align: 'left', formatter: 'date', datefmt: 'd/m/Y', editable: true, edittype: 'text', editrules: { required: false, date: true }, formoptions: { elmsuffix: ' *' } },
                    { name: 'InvestedAmount', index: 'InvestedAmount', width: 75, align: 'left', editable: true, edittype: 'text', editrules: { required: false}, formoptions: { elmsuffix: ' *' } },
                    { name: 'Maturity', index: 'Maturity', width: 70, align: 'left', editable: true, edittype: 'text',formatter: 'date', datefmt: 'd/m/Y', editrules: { required: false}, formoptions: { elmsuffix: ' *' } },
                    { name: 'FinalAmount', index: 'FinalAmount', width: 75, align: 'left', editable: true, edittype: 'text', editrules: { required: false }, formoptions: { elmsuffix: ' *' } },
                    { name: 'Rate', index: 'Rate', width: 75, align: 'left', editable: true, edittype: 'text', editrules: { required: false }, formoptions: { elmsuffix: ' *' } },
                    { name: 'InvestmentId', index: 'InvestmentId', width: 40, align: 'left', /* key: true,*/ editable: false, editrules: { edithidden: false }, hidedlg: true, hidden: true }
                   ],
                
                pager: $('#listPager'),
                //rowNum: 1000,
                //rowList: [1000],
                sortname: 'UserName',
                sortorder: "desc",
                viewrecords: true,
                imgpath: '/Content/Themes/Redmond/Images',
                caption: 'Investor List',
                autowidth: true
            }).navGrid('#listPager',
                {
                    edit: true, del: true, search: false, refresh: true,add:false
                },
                updateDialog,
                updateDialog,
                updateDialog
            );
         

            $('#login').mousedown(function (e) {
                e.stopPropagation();
                window.location.href = "@Url.Action("Login","Account")";
            });

            $('#User').mousedown(function (e) {
                e.stopPropagation();
                window.location.href = "@Url.Action("CurrentUser","Home")";
            });

            $('#logoff').mousedown(function (e) {
                e.stopPropagation();
                window.location.href = "@Url.Action("LogOff","Account")";

            });

            $('#Home').mousedown(function (e) {
                e.stopPropagation();
                window.location.href = "@Url.Action("Index","Home")";
            });
        }
        

);
    </script>
<div class="page-region-content fg-color-white">
      <table id="list" class="scroll"></table>
    <div id="listPager" class="scroll" style="text-align:center;"></div>                                                            
    <div id="listPsetcols" class="scroll" style="text-align:center;"></div>  
    
    <br>
    <input type="button" id="Add" value="Add investment"/>
    
    <section id="search-form" class="AddInvestment">
        
        <table>
            <tr>
                <td style="border: 0px;width: 200px;float:left"><p>Investor: <select id="myselect" name="myselect" ></select></p></td>
                <td style="border: 0px;width: 200px;float:left"><p>Date of Investment: <input type="date" id="DateOfInvestment"></p></td>
                <td style="border: 0px;width: 200px;float:left"><p>Invested Amount: <input type="text" id="InvestedAmount"></p></td>
                <td style="border: 0px;width: 200px;float:left"><p>Maturity: <input type="date" id="Maturity"></p></td>
                <td style="border: 0px;width: 200px;float:left"><p>Final Amount: <input type="text" id="FinalAmount"></p></td>
                <td style="border: 0px;width: 200px;float:left"><p>Rate: <input type="text" id="Rate"></p></td>
            </tr>
            <tr>
                <td style="border: 0px;width: 200px;float:left;vertical-align: bottom"><input type="button" id="submit-button" value="Save"></td>
            </tr>
        </table>
        <br>
    </section>
</div>

